@import '../assets/scss/variable.scss';
.container{
display: flex;
text-align: center;
background-color: rgba(255, 255, 255 ,0.3 );
margin-top: 1rem;
color: wheat;

}
.text{
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: space-evenly;   
}
.tempirater{
    display: flex;
    font-size: 3rem;
}
.time{
    display: flex;
    gap: $weather-info-gap ;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
    opacity: 0.6;
}

.infos {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    font-size: 0.8rem;
    width: 25vw;
    padding: 0.5rem;
    border-radius: 25px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    gap: calc($weather-info-gap + 10%);
  
    .border_right {
      border-right: 3px solid rgba(255, 255, 255, 0.2);
      padding-right: 1.2rem;
    }
  }
  
  .separator {
    margin-top: 2rem;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
  }
  