@import '../assets/scss/variable.scss';

.serchContent{
    display: flex;
    gap: $weather-info-gap ;
    margin: 5rem auto 0;
}
.serchinput{
    background-color: rgba(255, 255, 255 ,0.3 );
    border: none;
    border-bottom: wheat 3px solid;

}